.beer {
  width: 20rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.beer .image {
  width: 5rem;
  height: 10rem;
  margin-right: 0.8rem;
  display: flex;
  justify-content: center;
}
.beer .image img {
  height: 100%;
}
.beer .info {
  flex: 1;
}
.beer .info .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.beer .info .description {
  font-size: 0.8rem;
  color: #555;
  max-height: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.beer button {
  margin-top: .6rem;
}